body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4c5c6;
}

.container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.content {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #d6e7f7;
    z-index:20;
}
.innerbox {
    margin-top: 5vh;
    height: 70vh;
    margin-left: 2.5vw;
    width: 85vw;
    margin-bottom: -70vh;
}
.lines {
    position: absolute;
    top: 20vh;
    left: 7.5vw;
    height: 70vh;
    width: 85vw;
    background: url('./5514box.svg') no-repeat center center;
    background-size: cover;
    z-index: 15;
    pointer-events: none;
}
.rightbox {
    height: 100%;
    width: 50%;
    background-color: white;
}

.title {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 4vw;
}

.account-info { /*acount info 카드*/
    background-color: #fffffe;
    width: 20vw;
    height: 15vw;
    margin-bottom: 2vw;
    position: relative;
    text-align: left;
    padding: 2vw;
}

.info-card {
    background-color: #fffffe;
    height: 8vw;
    width: 18vw;
    padding: 1vw;
    margin-right: 2vw;
    position: relative;
    text-align: center;

}

.account-details p {
    margin-top: 2vw;
}

.card-title {
    font-size: 1.5vw;
}

.info-row {
    display: flex;
    position: relative;
    top: 2vw;
}

strong {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

span {
    font-size: 1vw;
    margin: 0.5vw;
}

div.account-info button#save-id-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 1vw;
}
div.account-info button#save-id-button:hover {
    background-color: #45a049;
}