* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
.sidebar {
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;

}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-blend-mode: darken;
    background-size: cover;
    padding-top:10vh;
    padding-left: 5vw;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    background-size: 19vw, 10vh; /* Set relative size of the background image */
    width: 16vw; /* Set a fixed width */
    height: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -0.6vw;
    margin-right: -0.6vw;
    z-index: 1;
    text-align: center;
}
.nav-list li:first-child {
    margin-left: 0;
}
.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
    /* Change the color on hover */
}

.nav-item.setting {
    background-image: url('tab_yellow.svg');
    z-index: 4;
}
.nav-item.operate {
    background-image: url('tab_blue.svg');
    z-index: 3;
}

.nav-list .active {
    z-index: 10; /* Higher z-index for the active item */
}