body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4c5c6;
}

.container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.content {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #f9dae2;
    z-index:20;
}
.innerbox {
    display: flex;
    margin-top: 5vh;
    height: 70vh;
    margin-left: 2.5vw;
    width: 85vw;
    margin-bottom: -70vh;
}
.lines {
    position: absolute;
    top: 20vh;
    left: 7.5vw;
    height: 70vh;
    width: 85vw;
    background: url('46box.svg') no-repeat center center;
    background-size: cover;
    z-index: 15;
    pointer-events: none;
}

.leftbox {
    height: 100%;
    width: 40%;
}
.rightbox {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.create-team-container,
.join-team-container {
    padding-left: 3vw;
    padding-top: 4vh;
    padding-bottom: 3vh;
}
.black-line {
    position: absolute;
    top: 60vh;
    left: 41.5vw;
    border-top: 5px solid #000;
    box-sizing: border-box;
    width: 50.7vw;
    height: 0.2vw;
}

.form-group {
    margin-bottom: 1vh;
}

h2 {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"] {
    width: 45vw;
    height: 5.5vh;
    font-size: 1vw;
    text-align: center;
    padding: 0.5vw;
    border: 1px solid #ffffff;
    background-color: #fff;
    box-sizing: border-box;
}

input[type="text"]:focus {
    background-color: #fff;
    outline: none;
}
input::placeholder{
    color: #7b7b7b;
}

button {
    display: block;
    width: 20%;
    padding: 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.options {
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 0.5rem;
    background-color: white;
    text-align: center;
    position: absolute;
    width: 45vw;
}

.option {
    padding: 0.5rem;
    cursor: pointer;
}

.option:hover {
    background-color: #f5f5f5;
}

#week-options {
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 0.5rem;
    background-color: white;
    position: absolute;
    width: calc(100% - 2rem);
}

.week-option {
    padding: 0.5rem;
    cursor: pointer;
}

.week-option:hover {
    background-color: #f5f5f5;
}

.title {
    padding-top: 3vh;
    padding-left: 3vw;
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 4vh;
}
.warning {
    font-size: 1vw;
    color: red;
}
.wrap_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3vw;
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 4vh;
}

.team-list-container .team-item{
    width: 100%;
    height: 8vh;
    padding-left: 3vw;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.teammate {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

strong {
    font-size: 2vw;
    vertical-align: middle;
}

span {
    margin-left: 3vw;
    font-size: 2vw;
    vertical-align: middle;
}

