body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4c5c6;
}

.container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.content {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #fff1ce;
    z-index:20;
}
.innerbox {
    display: flex;
    margin-top: 5vh;
    height: 70vh;
    margin-left: 2.5vw;
    width: 85vw;
    margin-bottom: -70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lines_no_review {
    position: absolute;
    top: 20vh;
    left: 7.5vw;
    height: 70vh;
    width: 85vw;
    background: url('wholebox.svg') no-repeat center center;
    background-size: cover;
    z-index: 15;
    pointer-events: none;
}
.lines_open_review {
    position: absolute;
    top: 20vh;
    left: 7.5vw;
    height: 70vh;
    width: 85vw;
    background: url('5rowbox.svg') no-repeat center center;
    background-size: cover;
    z-index: 15;
    pointer-events: none;
}
.review_not_open {
    text-align: center;
    vertical-align: middle;
    font-size: 3vw;
}

.review-container {
    width: 100%;
    height: 100%;
}

.review-container .criteria-item{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

label {
    display: block;
    margin: 10px 0;
}

select {
    margin-left: 10px;
    padding: 5px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 5px;
}

strong {
    font-size: 3vw;
    vertical-align: middle;
}


criteria_title{
    padding-left: 3vw;
    font-size: 3vw;
    font-weight: 700;
    vertical-align: middle;
    text-align: middle;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index:30;
    pointer-events: none;
}
criteria_content {
    padding-right: 3vw;
    font-size: 2vw;
    vertical-align: middle;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    z-index:30;
    pointer-events: none;
}
.input-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.choice {
    width: 25%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.choice.active {
    background-color: coral;
}


student_name {
    font-size: 3vw;
    font-weight: 700;
    vertical-align: middle;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:30;
    pointer-events: none;
}
.left-button{
    padding-left: 3vw;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-40%);
    z-index:30;
    cursor: pointer;
    border: 0; 
    background: transparent
}

.right-button{
    padding-right: 3vw;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    right: 0%;
    transform: translateY(-40%);
    z-index:30;
    cursor: pointer;
    border: 0; 
    background: transparent
}