body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4c5c6;
}
.container {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.content {
    flex: 1;
    padding: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #fff1ce;
    z-index:20;
}

.review-container {
    margin-left: 20vw;
    padding: 20px;
}

.button-container {
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

label {
    display: block;
    margin: 10px 0;
}

select {
    margin-left: 10px;
    padding: 5px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 5px;
}
